<!-- <input type="button" class="fade" value="Men" (click)="selectedCategory('Men')">
<input type="button" class="fade" value="Women" (click)="selectedCategory('Women')">
<input type="button" class="fade" value="Kids" (click)="selectedCategory('Kids')"> -->

<nav>
    <div *ngFor="let category of categoryArray">
        <a [routerLink]="['/productList', category.category]" (click)="selectedCategory(category.category)" routerLinkActivate="Active">{{category.category}}</a>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->
<prod-list></prod-list>
